<footer>
    <div id="site-info">
        <p class="copyright">&copy; 2017
            <a href="{% url 'index' %}"
               title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
            · <a href="http://www.miitbeian.gov.cn/" target="_blank" >鲁ICP备xxxxxx号</a>
            · 托管于<a href="https://www.aliyun.com/" target="_blank"  >阿里云</a>
        </p>
        <p class="pc-link">由Django强力驱动 (๑•̀ㅂ•́)و✧  (Theme by <a href="http://www.presscoders.com/Designfolio/" target="blank" title="Designfolio WordPress Theme">Designfolio</a>)</p></div><!-- #site-info -->
</footer>
