/*

Designfolio navy color scheme.
All tags that have a color attribute are located here.

*/

body {
background: #f4f0eb;
color: #373737;
}

th, a:link, a:visited, h1, h2, h3, .site-title, .page-title, .entry-title, .nivo-caption a, footer .pc_info_widget .phone, #container .pc_info_widget .phone, .comment-author {
color: #6b5d38;
}

a:hover {
color: #253944;
text-decoration: underline;
}

#header-container, .footer-widget-container {
background: #253944;
}

#header-container:after {
content: "";
display: block;
height: 0;
background: none;
border-bottom: 1px dotted #253944;
/*position: relative;*/
bottom: -4px;
}

#header-container nav.primary-menu ul li.current_page_item > a:after {
content: "";
border-top-color: #253944;
}

footer {
padding-top: 4px;
border-top: 1px dotted #253944;
}

#header-container nav.primary-menu {
border-top: 1px solid #555;
}

#header-container nav ul li a {
color: #fff;
}

#header-container nav li a:hover, #header-container nav ul ul li a:hover, #site-title a:hover, #header-container nav.secondary-menu ul ul li a:hover {
color: #bd6208;
}

nav ul ul {
background: #253944;
}

#header-container nav.secondary-menu ul ul li a {
color: #333;
}

nav.secondary-menu ul ul {
background: #fafafa;
}

#site-title a {
color: #ffffff;
}

#site-description {
color: #bdae86;
}

#header-container nav.secondary-menu {
background: #000;
background: rgba(0,0,0,.3);
}

#before-content .flex-container {
border-top: 1px solid #253944;
border-bottom: 1px solid #253944;
}

.flex-direction-nav {
border-top: 1px dotted #253944;
}

#before-content .flex-direction-nav {
border-top: none;
}

.flex-direction-nav .flex-prev {
background: url(../../../images/arrow-lt.png) no-repeat center center #253944;
}

.flex-direction-nav .flex-next {
background: url(../../../images/arrow-rt.png) no-repeat center center #253944;
}

.flex-direction-nav a.flex-prev:active, .flex-direction-nav a.flex-next:active {
background-color: #6b5d38;
}

ol.flex-control-nav li a {
background: #f4f0eb;
border: 2px solid #253944;
}

ol.flex-control-nav li a.flex-active {
background: #253944;
border: none;
}

.widget-title {
color: #6b5d38;
}

footer .widget-title {
border-bottom: 1px dotted #ccc;
color: #fff;
}

.widget ul li {
border-bottom: 1px dotted #bead7f;
}

.pc_content_slider_widget ul li {
border-bottom: none;
}

#footer-widget-area ul li {
border-bottom: 1px dotted #ccc;
}

.note, .warning, .alert, .error, .download {
color: #444;
}

.note {
background: #eee;
border: 1px solid #ccc;
}

.warning, .alert {
background: #fffbbc;
border: 1px solid #E6DB55;
}

.error {
background: #ffebe8;
border: 1px solid #C00;
}

.download {
background: #e4ebf8;
border: 1px solid #2e68d4;
}

.line { 
border-top: 1px dotted #253944;
}

a.button, #searchsubmit, #submit, .submit, a.post-edit-link, a.more-link {
color: #ffffff;
}

.post, .sidebar-container .widget {
border-bottom: 1px dotted #253944;
}

.post-date {
background: #6B5D38;
color: #fff;
}

.post-meta p {
color: #777;
}

p.author {
color: #6B5D38;
}

p.author:after {
content: "";
background: #bead7f;
}

.post-meta span.comments, .post-meta span.tags, .post-meta span.categories ,.post-meta span.edit{ 
border-left: 1px solid #bead7f;
}

.comment-body, li.pingback {
background: #fff;
}

.comment-meta a {
color: #888888;	
}

.avatar {
border: 2px solid #fff;
}

div.reply a {
color: #888888;
}

.quote:before {
border-right:15px solid #fff;
}

#author, #email, #url, #comment {
color: #555555;
}

.form-allowed-tags {
color: #999;
}

#header-widget-area .widget {
color: #fff;
}

header .pc_info_widget a {
color: #eee;
}

header .pc_info_widget {
color: #eee;
}

#body-container .pc_opt_in {
border: 2px solid #866f31;
}

textarea, input {
background: #fff;
border: none;
}

#body-container .twtr-widget .twtr-tweet a {
color: #6b5d38 !important;
}

#body-container .twtr-widget .twtr-doc, #body-container .twtr-widget .twtr-hd a, #body-container .twtr-widget h3, #body-container .twtr-widget h4  {
background-color: #253944 !important;
}

/** Footer **/


footer .pc_info_widget .phone, footer .pc_twitter_feed_widget {
color: #fff;
}

.footer-widget-container {
color: #eeeeee;
}

.footer-widget-container a, .footer-widget-container a:visited {
color: #eeeeee;
}

.footer-widget-container a:hover {
color: #fff;
}

.footer-widget-container .quote {
color: #444;
}

/* Orange (default) */
.defaultbtn, .btn, #searchsubmit, #submit, .submit, .post-edit-link, .more-link, input[type="submit"], ul#filters li a {
   background: #bd6208;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   text-decoration: none;
   vertical-align: middle;
}
.defaultbtn:hover, .btn:hover, #searchsubmit:hover, #submit:hover, .submit:hover, .post-edit-link:hover, .more-link:hover, input[type="submit"]:hover, ul#filters li a:hover {
   background: #d27315;
   color: #fafafa;
}
.defaultbtn:active, .btn:active, .defaultbtn:active, #searchsubmit:active, #submit:active, .submit:active, .post-edit-link:active, .more-link:active, input[type="submit"]:active, ul#filters li a:active {
   background: #9d5106;
   color: #edd1b6;
}
